"""
    Owlery API

    Owlery provides a web API for an [OWL API](http://owlapi.sourceforge.net)-based reasoner containing a configurable set of ontologies (a \"knowledgebase\").   # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Contact: balhoff@renci.org
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from owlery_client.api_client import ApiClient, Endpoint as _Endpoint
from owlery_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)


class SPARQLApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __kbs_kb_expand_get(
            self,
            kb,
            query,
            **kwargs
        ):
            """Expand SPARQL query encoded in URL parameter  # noqa: E501

            Expand a SPARQL query, transforming Owlet-style embedded class expressions into `FILTER`s  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.kbs_kb_expand_get(kb, query, async_req=True)
            >>> result = thread.get()

            Args:
                kb (str): label for a knowledgebase in this Owlery
                query (str): SPARQL query

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                None
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['kb'] = \
                kb
            kwargs['query'] = \
                query
            return self.call_with_http_info(**kwargs)

        self.kbs_kb_expand_get = _Endpoint(
            settings={
                'response_type': None,
                'auth': [],
                'endpoint_path': '/kbs/{kb}/expand',
                'operation_id': 'kbs_kb_expand_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'kb',
                    'query',
                ],
                'required': [
                    'kb',
                    'query',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'kb':
                        (str,),
                    'query':
                        (str,),
                },
                'attribute_map': {
                    'kb': 'kb',
                    'query': 'query',
                },
                'location_map': {
                    'kb': 'path',
                    'query': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/sparql-query'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__kbs_kb_expand_get
        )

        def __kbs_kb_expand_post(
            self,
            kb,
            body,
            **kwargs
        ):
            """Expand SPARQL query contained in request body  # noqa: E501

            Expand a SPARQL query, transforming Owlet-style embedded class expressions into `FILTER`s  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.kbs_kb_expand_post(kb, body, async_req=True)
            >>> result = thread.get()

            Args:
                kb (str): label for a knowledgebase in this Owlery
                body (str):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                None
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['kb'] = \
                kb
            kwargs['body'] = \
                body
            return self.call_with_http_info(**kwargs)

        self.kbs_kb_expand_post = _Endpoint(
            settings={
                'response_type': None,
                'auth': [],
                'endpoint_path': '/kbs/{kb}/expand',
                'operation_id': 'kbs_kb_expand_post',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'kb',
                    'body',
                ],
                'required': [
                    'kb',
                    'body',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'kb':
                        (str,),
                    'body':
                        (str,),
                },
                'attribute_map': {
                    'kb': 'kb',
                },
                'location_map': {
                    'kb': 'path',
                    'body': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [],
                'content_type': [
                    'application/sparql-query',
                    'application/x-www-form-urlencoded'
                ]
            },
            api_client=api_client,
            callable=__kbs_kb_expand_post
        )

        def __kbs_kb_sparql_get(
            self,
            kb,
            query,
            **kwargs
        ):
            """Perform SPARQL query encoded in URL parameter  # noqa: E501

            Perform SPARQL query using Owlet-style embedded class expression. This is not a complete SPARQL endpoint. It is for using Owlery as a federated query endpoint for a single Owlet triple pattern.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.kbs_kb_sparql_get(kb, query, async_req=True)
            >>> result = thread.get()

            Args:
                kb (str): label for a knowledgebase in this Owlery
                query (str): SPARQL query

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                None
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['kb'] = \
                kb
            kwargs['query'] = \
                query
            return self.call_with_http_info(**kwargs)

        self.kbs_kb_sparql_get = _Endpoint(
            settings={
                'response_type': None,
                'auth': [],
                'endpoint_path': '/kbs/{kb}/sparql',
                'operation_id': 'kbs_kb_sparql_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'kb',
                    'query',
                ],
                'required': [
                    'kb',
                    'query',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'kb':
                        (str,),
                    'query':
                        (str,),
                },
                'attribute_map': {
                    'kb': 'kb',
                    'query': 'query',
                },
                'location_map': {
                    'kb': 'path',
                    'query': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/sparql-results+xml'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__kbs_kb_sparql_get
        )

        def __kbs_kb_sparql_post(
            self,
            kb,
            body,
            **kwargs
        ):
            """Perform SPARQL query contained in request body  # noqa: E501

            Perform SPARQL query using Owlet-style embedded class expression. This is not a complete SPARQL endpoint. It is for using Owlery as a federated query endpoint for a single Owlet triple pattern.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.kbs_kb_sparql_post(kb, body, async_req=True)
            >>> result = thread.get()

            Args:
                kb (str): label for a knowledgebase in this Owlery
                body (str):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                None
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['kb'] = \
                kb
            kwargs['body'] = \
                body
            return self.call_with_http_info(**kwargs)

        self.kbs_kb_sparql_post = _Endpoint(
            settings={
                'response_type': None,
                'auth': [],
                'endpoint_path': '/kbs/{kb}/sparql',
                'operation_id': 'kbs_kb_sparql_post',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'kb',
                    'body',
                ],
                'required': [
                    'kb',
                    'body',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'kb':
                        (str,),
                    'body':
                        (str,),
                },
                'attribute_map': {
                    'kb': 'kb',
                },
                'location_map': {
                    'kb': 'path',
                    'body': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [],
                'content_type': [
                    'application/sparql-query',
                    'application/x-www-form-urlencoded'
                ]
            },
            api_client=api_client,
            callable=__kbs_kb_sparql_post
        )
